## Midterm

![](https://github.com/rpi-techfundamentals/hm-01-starter/blob/master/notsaved.png?raw=1)

**WARNING!!!  If you see this icon on the top of your COLAB sesssion, your work is not saved automatically.**

**Do not manually upload any files.  Use the `wget` command to retreive files.**

**Save your working file in Google drive so that all changes will be saved as you work. MAKE SURE that your final version is saved to GitHub.** 

Before you turn this in, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). They should run completely without intervention...**i.e., DO NOT not manually upload any files.  Use the `wget` command to retreive files as necesssary.**


### This is a 45 point assignment.

**You may find it useful to go through the notebooks from the course materials when doing these exercises.**

**If you receive assistance from anyone (other than instructor clarification) it will be considered an ethical violation and referred to associate dean.  By listing your name below your are confirming that you have received no unauthorized help in this exam and have completed it yourself.**

In [0]:
course="mgmt6560"   #course number
section="1"          #For example 1 or 2
first_name="Jiarun"   #For example, "jason"
last_name="Li"    #For example, "kuruzovich"
student_id="lij44"       #for example "kuruzj"
student_email="lij44@rpi.edu"    #for example "kuruzj@rpi.edu"

In [2]:
#get the data
!wget https://www.dropbox.com/s/02brm5nrxe63ea9/midterm2.csv

--2019-10-17 21:37:39--  https://www.dropbox.com/s/02brm5nrxe63ea9/midterm2.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601f:1::a27d:901
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/02brm5nrxe63ea9/midterm2.csv [following]
--2019-10-17 21:37:40--  https://www.dropbox.com/s/raw/02brm5nrxe63ea9/midterm2.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc57e1f82b6cafd04b27d784dea.dl.dropboxusercontent.com/cd/0/inline/Aqq9nbzEosIExKhMGOLpqI5fxTkX1LmneFqzExeu18Fmnq28nU0iedeb_R13CUPFwPjaRSu5ynJJ9tpxTsa_H3t9o-FTTS4DLZK2XZ-nvC8N8D0oFMLOnAfhQyXkLNRKGYE/file# [following]
--2019-10-17 21:37:40--  https://ucc57e1f82b6cafd04b27d784dea.dl.dropboxusercontent.com/cd/0/inline/Aqq9nbzEosIExKhMGOLpqI5fxTkX1LmneFqzExeu18Fmnq28nU0iedeb_R13CUPFwPjaRSu5ynJJ9tpxTsa_H3t9o-FTTS4DLZK2XZ-nvC8N8D0oFMLOnAfhQyXkLNRKGYE/file
Resolving ucc57e1f82b6cafd04b27d784dea.dl.dropboxusercontent.com (ucc57e1f82b6cafd04b27d784dea.dl.dropboxusercontent.com)... 162.125.9.6, 2620:100:601f:6::a27d:906
Connecting to ucc57e1f82b6cafd04b27d784dea.dl.dropboxusercontent.com (ucc57e1f82b6cafd04b27d784dea.dl.dropboxusercontent.com)|162.125.9.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 353920 (346K) [text/plain]
Saving to: ‘midterm2.csv.2’

midterm2.csv.2      100%[===================>] 345.62K  --.-KB/s    in 0.08s

2019-10-17 21:37:40 (4.48 MB/s) - ‘midterm2.csv.2’ saved [353920/353920]

In [3]:
import pandas as pd
data  = pd.read_csv("midterm2.csv")
data.head()

   v1  v2  v3  v4  v5  v6  v7  v8  v9  v10  group           y
0   1   1   1   1   1   1   1   1   1    0      0  453.521369
1   1   1   1   1   1   1   1   1   1    1      0  151.919191
2   1   1   0   1   0   1   1   0   1    0      0 -141.666991
3   1   0   1   1   1   1   0   0   0    1      0 -227.245474
4   1   0   0   1   0   0   0   1   0    0      0 -130.752790

### (10 points) 1. Predict Group Using Different Sets of IVs 

Predict the `group` variable from `v1-v5` and then from `v6-v10` using k Nearest Neighbor algorithm and all of the data (i.e., don't do train test split) and the default hyperparameters. **IGNORE  `target` variable for now.** 

`accuracy_v1_5`

`accuracy_v6_10`

In [4]:
from sklearn.neighbors import KNeighborsClassifier

trainset_v1_5 = data[['v1','v2','v3','v4','v5']]
trainset_v6_10 = data[['v6','v7','v8','v9','v10']]
y = data['group']

classifier = KNeighborsClassifier()
classifier.fit(trainset_v1_5, y)

pred_v1_5 = classifier.predict(trainset_v1_5)
accuracy_v1_5 = classifier.score(trainset_v1_5, y) 
print(accuracy_v1_5)

classifier = KNeighborsClassifier()
classifier.fit(trainset_v6_10, y)

pred_v6_10 = classifier.predict(trainset_v6_10)
accuracy_v6_10 = classifier.score(trainset_v6_10, y) 

print(accuracy_v6_10)

0.7491
0.4958

In [0]:
accuracy_v1_5 = 0.7491

In [0]:
accuracy_v6_10 = 0.4958

### (10 points) 2. Null model

What would the accuracy of the null/naive model be?  Set it `accuracy_null`.

How would you interpret the model for `accuracy_v1_5`, `accuracy_v6_10`, vs the null model.

In [7]:
#Enter this to 1 decimal place. (i.e., not string)
accuracy_null= 1.1  #included as example.

def calculate_accuracy(actual, prediction):
  number_of_predictions = len(prediction)
  number_of_correct_predictions = 0
  accuracy=0
  for i in range(number_of_predictions):
    if actual[i]==prediction[i]:
      number_of_correct_predictions += 1
  accuracy=number_of_correct_predictions/number_of_predictions
  return accuracy
  
data['null_model'] = 0

accuracy_null = calculate_accuracy(y,data['null_model'])

accuracy_null

0.5

In [0]:
q1 = """ 
Answer here. 

In the null model, i simply set the all the group variable to be zero. Basically, the null model works as the benchmark in the modeling process.

Comparing to the knn models for accuracy_v1_5 and accuracy_v6_10, vs the null model,  i would say that accuracy_v1_5 works better than null model, and 
accuracy_v6_10 performs not better than the null model. 
So model in accuracy_v1_5 is better than the model accuracy_v6_10.


"""

### (10 points) 3. Perform linear regression using SciKit Learn.  

Perform two regression analyses.  

For `analysis1` select the independent variables `v1-v10` (all v variables) and `group` and regress on the dependent variable `target`.  Calculate the r2  for the linear regression and assign the r2 to the `r2_analysis1` variable.

For `analysis2` filter to only include rows where `group` is equal to 1. Select the independent variables `v1-v10` (all v variables) regress on the dependent variable `target`.  Calculate the r2  for the linear regression and assign the r2 to the `r2_analysis2` variable.

Print `r2_analysis1` and  `r2_analysis2` to make sure they are set.

In [9]:
# analysis1

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

target = data['y']
X = data [['v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','group']]

lin_reg = LinearRegression()
lin_reg.fit(X, target)
y_pred = lin_reg.predict(X)

r2_analysis1 = r2_score(target, y_pred)
r2_analysis1

0.5748435722769081

In [10]:
# analysis2

new_data = data.loc[data['group']==1]
new_X = new_data [['v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','group']]
new_target = new_data['y']

lin_reg.fit(new_X, new_target)
y_pred2 = lin_reg.predict(new_X)

r2_analysis2 = r2_score(new_target, y_pred2)
r2_analysis2

0.637262959842223

In [11]:
#Print r2_analysis1 and r2_analysis2 to make sure they are set.
print(r2_analysis1, r2_analysis2)

0.5748435722769081 0.637262959842223

### (10 points) Train Test Split
Using the `random_state=99` do a 50 50 train test split of only variables `v1-v10` and the `target` for y.   Your split should create the following 

`train_X`, `test_X`, `train_y`, `test_y`

In [0]:
from sklearn.model_selection import train_test_split


train_X, test_X, train_y, test_y = train_test_split(X, target, 
                                                    train_size=0.5,
                                                    test_size=0.5,
                                                    random_state=99)

In [13]:
train_X

      v1  v2  v3  v4  v5  v6  v7  v8  v9  v10  group
7835   0   1   1   1   0   1   1   0   0    0      1
5653   0   0   1   1   1   1   1   1   1    1      1
6536   1   0   1   0   0   1   0   1   0    1      1
1517   1   0   0   0   1   1   0   1   1    1      0
5297   0   1   1   0   0   1   1   0   1    0      1
8013   1   1   1   0   1   0   0   0   1    0      1
594    1   0   1   1   1   1   0   1   1    1      0
7897   1   0   1   1   1   0   1   0   0    1      1
8878   0   1   1   0   0   0   0   1   0    1      1
7504   0   0   1   1   1   1   1   0   1    1      1
1007   1   0   0   1   0   0   1   1   1    1      0
8945   0   1   1   0   0   1   1   1   0    1      1
6087   0   1   1   1   0   0   1   1   0    0      1
9661   1   1   1   0   0   0   1   0   1    1      1
7979   0   1   1   1   0   0   1   0   0    0      1
4109   1   1   1   0   0   0   0   0   0    0      0
5302   0   1   1   1   1   1   0   0   0    0      1
8195   0   0   1   1   0   0   0   0   1    0      1
1392   1   0   0   0   1   1   0   0   0    0      0
3176   1   0   0   1   0   0   1   0   0    0      0
8078   1   1   1   0   1   0   0   0   0    0      1
7517   0   1   1   0   0   1   0   0   0    1      1
9828   1   0   1   1   0   1   0   0   1    0      1
6196   1   1   1   0   1   1   1   1   1    1      1
5590   0   0   1   0   1   0   0   1   0    1      1
3822   1   1   0   0   1   1   1   1   1    0      0
2040   1   0   1   0   0   0   0   1   0    0      0
4374   1   1   1   1   1   0   0   0   0    0      0
2863   1   0   0   0   1   0   1   1   0    0      0
2003   1   1   0   0   0   0   1   1   0    0      0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...
6383   0   1   1   1   0   0   1   1   0    1      1
2121   1   0   1   1   1   0   0   0   1    0      0
9745   1   1   1   1   1   0   1   0   1    0      1
3134   1   0   1   0   0   0   0   1   1    0      0
6905   1   0   1   0   1   1   1   0   0    1      1
6884   0   0   1   1   1   0   1   1   1    1      1
1819   1   1   0   1   0   1   1   1   1    0      0
6191   0   0   1   0   1   0   0   0   0    1      1
2810   1   1   1   0   1   0   0   1   1    1      0
591    1   0   0   0   1   1   1   0   1    1      0
1044   1   0   0   0   1   0   0   1   1    1      0
4040   1   0   1   1   1   0   1   0   0    1      0
6336   0   1   1   1   0   1   0   1   0    0      1
5762   1   0   1   1   1   1   1   0   1    0      1
8436   1   0   1   0   1   0   1   1   1    1      1
9579   1   1   1   0   1   1   1   0   1    0      1
59     1   1   1   1   1   1   0   0   1    1      0
5341   1   0   1   1   0   1   0   0   1    0      1
8368   1   0   1   0   1   0   1   0   0    0      1
449    1   0   0   0   0   0   1   0   1    0      0
55     1   1   1   0   1   1   1   0   0    1      0
7971   1   0   1   0   0   1   1   1   0    0      1
3457   1   1   0   1   0   0   0   1   0    1      0
7365   0   1   1   1   1   1   0   1   1    0      1
5188   1   1   1   0   0   1   1   0   1    1      1
7890   1   0   1   1   1   0   0   0   0    1      1
1768   1   1   0   1   1   1   1   1   1    1      0
9929   1   1   1   1   0   1   1   0   1    1      1
3240   1   0   1   1   0   1   1   1   1    1      0
7203   0   0   1   1   1   1   1   0   1    0      1

[5000 rows x 11 columns]

### (5. points) Describe why the testing or validation set is important for assessment of a machine learning model.

In [0]:
q5 = """ 
Answer here. 

In a machine learning model, we always want to prevent or avoid overfitting. By splitting the data set into test and train or validation and train datasets, we can 
perform cross validation to help decrease the change of overfitting. We can typically use K-fold, leave-one out or some other techniques to do cross validation.

"""

### You must commit your final notebook to github by 5:50 PM.  Any commits after that time will not be accepted. 

Click [this link](https://classroom.github.com/a/LAzmhlFi) to generate the repository for submission.